body{
    background-color:  #8c1515;
    color:rgb(255,255,255);

}
div.grey{
    background-color:#555;
    color:rgb(255, 251, 0);
}
h1{
    background-color:rgb(255, 255, 255);
    color:#000;
}