style.css
body{
    background-color: bisque;
}

div{ 
background-color: aqua;
}
h1{
background-color: blueviolet;
color: black;
}
.font-red{
color: red;
}
#unique{
border:3px solid blue;
}
